@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img.absolute {
  -webkit-mask-image: -moz-linear-gradient(black 70%, transparent);
  mask-image: linear-gradient(black 70%, transparent);
}

div > div label:has(> :checked) {
  background-color: white;
}
