@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("./assets/hero_img.jpg");
  background-repeat: no-repeat;
  
  background-position: top;
  background-size: contain; */
  background-color: black;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img.absolute {
  mask-image: linear-gradient(black 70%, transparent);
}
